<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="th.ac.kku.cis.mobileapp.Momentage">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Momentage"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RestroGirls">
        <activity
            android:name="th.ac.kku.cis.mobileapp.Momentage.DetailActivity"
            android:exported="false" />
        <activity
            android:name="th.ac.kku.cis.mobileapp.Momentage.ListActivity"
            android:exported="false" />
        <activity
            android:name="th.ac.kku.cis.mobileapp.Momentage.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="th.ac.kku.cis.mobileapp.Momentage.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>